.btn-1{
    border:1px solid var(--bloody-red-main-700);
    display: inline-block;
    padding:0.5rem 1rem;
    background-color: #fff;
    font-size:0.8rem;
}
.btn-1:hover{
    background-color: var(--bloody-red-main-700);
    color:#fff;
}
.btn-1:active{
    color:var(--point-color);
}
.heart{
    display: inline-block;
    height: 1.2rem;
    aspect-ratio: 1/1;
}
.heart img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.banner-product{
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/sub-banner.jpg") no-repeat 50% 50% / cover;
    color:#fff;
    text-align: center;
}
.banner-product h1{
    margin-bottom: var(--space-x-small);
}
@media (max-width:1440px){
    .banner-product{
        height:450px;
    }
}
@media (max-width:768px){
    .banner-product{
        height:100vh;
    }
}