.detail-1{
    display: flex;
    gap:var(--space-normal);
    margin: 10rem auto var(--space-3x-large);
}
.detail-1>section{
    width:50%;
}
.thumb-big{
    width:100%;
    aspect-ratio: 1/1;
    line-height: 0;
    margin-bottom: var(--space-normal);
}
.thumb-big img{
    width:100%;
    height:100%;
    object-fit: contain;
}
.thumb-small-list{
    display: flex;
    gap:var(--space-normal);
}
.thumb-small-list > li{
    width:140px;
    height:140px;
}
.thumb-small-list > li img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.detail-desc{
    padding-top: var(--space-2x-large);
}
.detail-desc h3{
    margin-bottom: var(--space-2x-small);
}
.detail-desc h4{
    margin-bottom: var(--space-normal);
}
.detail-desc .desc{
    height:180px;
    overflow: auto;
    margin-bottom: var(--space-3x-large);
}
.per-sale{
    color:var(--bloody-red-600);
    font-size:0.9rem;
}
.price-origin{
    color:var(--color-inacitve);
    font-weight: var(--font-strong);
    text-decoration: line-through;
}
.sale{
    margin-bottom: var(--space-x-small);
}
.price{
    font-size: 1.6rem;
    font-weight: var(--font-strong);
    margin-bottom: var(--space-2x-large);
}
.buy{
    display: flex;
    gap:var(--space-normal);
}
.buy a{
    flex:1;
    padding:var(--space-x-small) 0;
    border:1px solid #000;
    text-align: center;
    font-size: 0.9rem;
}
.buy a.btn-buy{
    border:1px solid var(--bloody-red-600);
    background-color: var(--bloody-red-600);
    color:#fff;
}
.sticky-menu {
    display: flex;
    gap: var(--space-normal);
    margin-bottom: var(--space-2x-large);
    position: sticky;
    left: 0;
    top: 50px;
    z-index: 5;
}
.sticky-menu>li{
    flex:1;
    text-align: center;
}
.sticky-menu>li a{
    padding:var(--space-x-small) 0;
    display: block;
    border:1px solid #000;
    font-size: 0.9rem;
    background-color: #fff;
}
.detail-2 .title-product{
    margin-bottom: var(--space-2x-large);
    padding-top: var(--space-3x-large);
}
.info-list{
    display: flex;
    gap:var(--space-normal);
}
.info-list>section{
    flex:1;
}
.info-list-1 h3{
    margin-bottom: var(--space-2x-small);
}
.info-list-1 h3+p{
    margin-bottom: var(--space-normal);
}
.info-list-2 table{
    width:100%;
}
.info-list-2 th{
    border-bottom:1px solid #000;
    width:50%;
    text-align: left;
    padding:var(--space-x-small) 0;
}
.info-list-2 td{
    border-bottom:1px solid #000;
    width:50%;
    padding:var(--space-x-small) 0;
}
.info-list-2 tr:nth-of-type(1){
    border-top:4px solid var(--bloody-red-600);
}
.info-list-2 caption{
    text-align: right;
    margin-bottom: var(--space-x-small);
}
.list-review>li{
    display: flex;
    gap:var(--space-normal);
    border-bottom:1px solid #e0e0e0;
    padding:var(--space-2x-large) 0;
}
.list-review-1{
    width:25%;
    display: flex;
    flex-direction: column;
    gap:var(--space-x-small);
}
.list-review-2{
    width:75%;
}
.list-review-2 h4{
    margin-bottom: var(--space-normal);
}
.product .slider-container.review-slider{
    justify-content: flex-start;
}
.review-track{
    display: flex;
    gap: var(--space-normal);
}
.review-track li{
    width:416px;
    aspect-ratio: 1/1;
}
.review-track li img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.review-slider{
    margin-bottom: var(--space-normal);
}
