footer{
    background-color: #000;
    color:rgba(255, 255, 255, 0.74);
}
.ft{
    display: flex;
    justify-content: space-between;
    padding: var(--space-x-large) 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.375);
}
.footer-menu{
    display: flex;
    gap: var(--space-normal);
}
.fb{
    padding-top: var(--space-x-large);
    padding-bottom: var(--space-3x-large);
    display: flex;
    justify-content: space-between;
}
.fb dl>*{display: inline;}
.copy{
    padding-bottom: var(--space-2x-large);
    text-align: center;
}

@media (max-width:768px){
    .footer-menu{
        display: flex;
        flex-direction: column;
        gap: var(--space-normal);
    }
    .fb{
        flex-direction: column;
        align-items: center;
        gap:var(--space-x-large);
    }
}