@media (max-width:768px){

    
    .product .slider-container{
        justify-content: flex-start;
    }
    .list-product{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:var(--space-2x-large) var(--space-normal);
    }




    /* 선넘지마... */
}