.hero-banner-slider{
  width: 100%;
}
/* .hero-banner-slider .swiper-slide img{
  width:100%;
  height:100%;
  object-fit: cover;
} */

.hero-banner-slider .swiper-pagination-bullet {
    background: #fff;
    border-radius: var(--swiper-pagination-bullet-border-radius,50%);
    display: inline-block;
    height: 0.6rem;
    opacity: 1;
    width: 0.6rem;
    filter: drop-shadow(0,4px,4px,rgba(0, 0, 0, 0.5));
}
.hero-banner-slider .swiper-pagination-bullet-active {
    background: var(--bloody-red-main-700);
}
.hero-banner-slider .swiper-pagination-bullet {
    margin: 0 0.5rem!important;
}
.hero-banner-slider .swiper-horizontal>.swiper-pagination-bullets,
.hero-banner-slider .swiper-pagination-bullets.swiper-pagination-horizontal,
.hero-banner-slider .swiper-pagination-custom,
.hero-banner-slider .swiper-pagination-fraction {
    left: 0;
    top: initial;
    bottom: 1.8rem;
    width: 100%;
}
.tab-slide{display: none;}
.mobile-slide{display: none;}

main{
  margin-top: 106px;
  /* header의 높이만큼 여백을 위로 줌 */
  transition:margin-top 0.6s ease 0s;
  min-height: 1500px;
}
header.fold~main{
  margin-top:44px;
}
.signature-slider{
  width:100%;
}
.signature{
  padding:var(--space-3x-large,6rem) 0;
}
.signature>h1{
  text-align: center;
  margin-bottom: var(--space-normal);
}
.signature>p{
  text-align: center;
  margin-bottom: var(--space-2x-large);
}
.sig-item img{
  width:100%;
  aspect-ratio: 1/1;
}
.sig-item figure{
  margin-bottom: var(--space-x-large);
}
.sig-item h4{
  margin-bottom: var(--space-x-small);
}
.banner-cake{
  height:400px;
  background: url("../img/banner.cake.jpg") no-repeat 50% 50% / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  text-align: center;
}
.banner-cake h1{
  margin-bottom: 0.5rem;
}

