@media (max-width:768px){
  .pc-slide{display: none;}
  .tab-slide{display: none;}
  .mobile-slide{display: block;}
  .mobile-slide{
    width:100%;
    height:100%;
    object-fit: cover;
  }
  main{
      margin-top: 74px;
  }
  header.fold~main{
      margin-top:74px;
  }
  .banner-cake{
        height:582px;
  }
  .off-store{
    flex-direction: column;
    gap:var(--space-2x-large);
  }
  .off-store figure{
      width:auto;
      flex-shrink: 0;
      aspect-ratio: 365/218;
  }
  .off-store section{
    text-align: center;
  }
  .off-store h1{
    padding-top: 0;
  }
  .news{
    flex-direction: column;
    gap:var(--space-x-large)
  }
  .news-list li a{
    font-weight: var(--font-strong);
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .news-title{
    text-align: center;
  }
  .benefit{
    flex-direction: column-reverse;
    gap: var(--space-x-large);
  }
  .benefit-txt{
    text-align: center;
  }
  .banner-benefit{
    height:80vh;
  }

  /* 이 선을 넘지 말자.^^.. */
}
