:root{

    /* basic size 1rem */
    --basic-font-pc:20px;
    --basic-font-tab:18px;
    --basic-font-mobile:14px;

    /* color variation */
    --bloody-red-100:#FFF5F5;
    --bloody-red-200:#FDC5C5;
    --bloody-red-300:#F27070;
    --bloody-red-400:#E95050;
    --bloody-red-500:#DD3838;
    --bloody-red-600:#CD2727;
    --bloody-red-main-700:#B81B1B;
    --bloody-red-800:#A01313;
    --bloody-red-900:#870E0E;

    /* font-weight */
    --font-strong:700;
    --font-normal:400;

    /* line-height */
    --base-line-height:120%;
    --text-line-height:140%;

    /* spacing */
    --space-normal:1rem;
    --space-x-small:0.5rem;
    --space-2x-small:0.25rem;
    --space-x-large:2rem;
    --space-2x-large:3rem;
    --space-3x-large:6rem;

    /* semantic color */
    --color-inacitve:#777;
}
html{
    font-family: 'Pretendard',sans-serif;
    line-height: var(--base-line-height);
}
h1{
    font-size: 1.6rem;
    font-weight: var(--font-strong);
}
h2{
    font-size: 1.4rem;
    font-weight: var(--font-strong);
}
h3{
    font-size: 1.25rem;
    font-weight: var(--font-strong);
}
h4{
    font-size:1rem;
    font-weight: var(--font-strong);
}
p{
    font-size: 1rem;
    line-height: var(--text-line-height);
}
.b2{
    font-size:0.9rem;
}
.detail{
    font-size:0.8rem;
}
.point{
    font-family: "Aboreto", system-ui;
}
.common-frame{
    width:1440px;
    margin:0 auto;
}